* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  border: 1px solid grey;
}

header h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #FF4900;
}

main {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #556677;
}

.form {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.form input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #556677;
}

.btnAdd, .btnDone {
  background-color: #050d94;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.btnAdd:hover, .btnDone:hover {
  background-color: #1a66a6;
}

#tasks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 530px;
  
  padding-left: 20px;
}

#tasks-list li {
  position: relative;
  border-radius: 5px;
  margin-right: 10px ;
  margin-bottom: 10px;
  border: 1px solid #556677;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#tasks-list li.checked {
  background-color: #ddd;
  text-decoration: line-through;
}

li:hover {
  display: block;
}

